[tool.isort]
profile = "black"  # стиль сортировки как у Black
src_paths = ["api", "posts", "yatube_api"]  # папки с твоими приложениями
# known_first_party = ["posts", "users"]  # чтобы isort не считал их сторонними пакетами
line_length = 88  # как в Black
multi_line_output = 3  # красивый перенос импортов